.card-container > .ant-tabs-card > .ant-tabs-content {
    height: 120px!important;
    margin-top: -16px!important;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff!important;
    padding: 16px!important;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar {
    border-color: #fff!important;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent!important;
    background: transparent!important;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff!important;
    background: #fff!important;
  }

  .flex__out{
      display: flex;
      flex-direction: column;
      .tag--sex{
        margin: 0 auto;
        background-color: yellow;
        border-radius: 10px;
        color:black;
        font-weight: 500;
        min-width:70px;
        text-align: center;
      }
      .flex__in{
          display: flex;
          justify-content: center;
        .tag--no{
            background-color: aqua;
            border-radius: 10px;
            color:white;
            font-weight: 500;
            margin:10px 10px;
            min-width:50px;
            text-align: center;
        }
        .tag--age{
            background-color: blue;
            border-radius: 10px;
            color:white;
            font-weight: 500;
            margin:10px 10px;
            min-width:50px;
            text-align: center;
        }
      }
  }
  .ant-tabs-tab{
      font-size: 2rem;
  }

